<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

{% load static %}

{% block content %}

<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">PDF Crawler 2018</a>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md">
        </div>
        <div class="col-md" align="center">



                    <form class="form-group" method="post" enctype="multipart/form-data">{% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn btn-primary mb-2" type="submit" value="Upload">
                    </form>

                    {% if status %}
                        <p>File has been uploaded and processed! Add another one!</p>
                    {% endif %}

        </div>
        <div class="col-md">
        </div>
    </div>
</div>

{% endblock %}
